.verify-form,
.disabled-blurb,
.verify-result,
.user-count {
  line-height: 1.6;
  border: 1px solid rgba(var(--accent), 25%);
  background-color: white;
  padding: 1rem;
  border-radius: 0.4rem;
  display: grid;
}

.verify-form {
  grid-row-gap: 1rem;
  margin: 1.5rem 0;
}

.verify-result {
  grid-row-gap: 0;
  /* display: none; */
  margin: -1rem 0 2rem 0;
}

.user-count {
  /* display: block; */
  margin-bottom: 1.5rem;
}

.mini-badge {
  position: relative;
  top: 4px;
  width: 20px;
}

#verify-error {
  color: #ff6666;
}

.verify-form>div {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 1ch;
  align-items: center;
}

strong {
  color: rgb(var(--accent));
}

input[type=text] {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(var(--accent), 25%);
}

button {
  width: calc(100% - 1rem);
  background: var(--accent-gradient);
  background-size: 400%;
  background-position: 0%;
  color: white;
  border: none;
  border-radius: 0.4rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem;
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}
