<div class="disabled-blurb">
  <strong>Note: Verification is currently disabled.</strong><br />
  The process is still fully manual and there are too many requests right now.<br />
  I'm looking for a way to automate this and open up again.<br />
  Thanks!
</div>


<style>
.disabled-blurb {
  margin: 1.5rem 0;
}
</style>
