body.dark-mode {
  background-color: #111111;
  color: #bbbbbb;

  & .dark-mode-toggle label {
    background-color: #333333;
  }

  & .box {
    background-color: #333333;
  }

  & input {
    background-color: #444444;
    color: #ffffff;

    &::placeholder {
      color: #aaaaaa;
    }
  }

  & .toggle label {
    background-color: #444444;

    &:after {
      background-color: #bbbbbb;
    }
  }

  & .toggle input:checked+label {
    background: #5c7800;
  }
}
