.dark-mode {
  background-color: #111111;
  color: #dddddd;
}

.dark-mode .dark-mode-toggle label {
  background-color: #333333;
}

.dark-mode .box {
  background-color: #333333;
}

.dark-mode small, .dark-mode .muted {
  color: #aaaaaa;
}

.dark-mode input {
  background-color: #444444;
  color: #dddddd;
}

.dark-mode input::placeholder {
  color: #aaaaaa;
}

.dark-mode .toggle label {
  background-color: #444444;
}

.dark-mode .toggle label:after {
  background-color: #dddddd;
}

.dark-mode .toggle input:checked+label {
  background: #8da739;
}

.dark-mode button {
  color: #dddddd;
}

.dark-mode button.secondary {
  background: #444444;
}
