<footer>
  Terms<a href="https://github.com/mdelias/nostr-address-provider" target="_blank">Github repository</a> | Privacy<a href="https://github.com/mdelias/nostr-address-provider" target="_blank">Github repository</a>
</footer>

<style>
  footer {
    border-top: 1px solid rgb(var(--accent));
    font-size: 70%;
    margin-top: 2rem;
    padding: 0.5rem 0 3rem 0;
    text-align: center;
  }
</style>
