---
import Layout from '../layouts/Layout.astro';
import Donation from '../components/Donation.astro';
import VerificationForm from '../components/VerificationForm.astro';
import Welcome from '../components/Welcome.astro';
---

<Layout title="Welcome to nostr.industries">
	<main>
		<Welcome />
		<VerificationForm />
		<Donation />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
