<div class="dark-mode-toggle">
  <label>
    <input class="dark-mode-toggle-input" type="checkbox" />
    <span class="slider" />
  </label>
</div>

<script>
  const updateRoot = (darkMode: boolean) => {
    const root = document.documentElement
    if(darkMode) {
      root.classList.add('dark-mode')
    }
    else {
      root.classList.remove('dark-mode')
    }
  }

  const toggle = document.querySelector('.dark-mode-toggle-input')

  // handle toggle change
  toggle?.addEventListener('change', (event) => {
    // update localstorage
    const isDarkMode = !event?.target?.checked ?? true
    localStorage.setItem('darkMode', isDarkMode)

    // update root class
    updateRoot(isDarkMode)
  })

  // initially check checkbox
  const userPrefersDarkMode = window.matchMedia("(prefers-color-scheme:dark)").matches;
  const isDarkMode = localStorage.getItem('darkMode') !== null
          ? localStorage.getItem('darkMode') === "true"
          : userPrefersDarkMode
  toggle.checked = !isDarkMode

  // initially update root
  updateRoot(isDarkMode)
</script>

<style>
  :root {
    --light: #fbe377;
    --background: #ffffff;
    --moon-grey: #717171;
  }

  .dark-mode-toggle {
    position: relative;
    width: 50px;
  }

  label {
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: var(--background);
    border-radius: 13px;
    cursor: pointer;
    border: 1px solid rgba(var(--accent), 25%);
  }

  input {
    position: absolute;
    display: none;
  }

  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    transition: 0.3s;
  }

  .slider::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    box-shadow: inset 4px -1px 0px 0px var(--light);
    background-color: var(--moon-grey);
    transition: 0.3s;

    /* content: "´ω`";
    justify-content: center;
    color: #303030;
    font-size: 35px;
    display: flex;
    align-items: center;
    font-weight: bold; */
  }

  input:checked ~ .slider::before {
    transform: translateX(23px);
    background-color: var(--light);
    box-shadow: none;

    /* content: "°◡°"; 
    justify-content: center;
    font-size: 35px;
    display: flex;
    align-items: center;
    font-weight: bold; */
  }
</style>
