<section class="lightning">
  <p>
    This service is free, but it costs USD $4/month to operate and (unless it can be automated) manually adding users takes time.
    <br /><br />
    If you like this service, please consider a small lightning ⚡ donation to keep it up:
  </p>

  <img src="images/ln-donation-qr.png" alt="lightning donation qr code" />

  <code>
    LNURL1DP68GURN8GHJ7MR9VAJKUEPWD3HXY6T5WVHXXMMD9AKXUATJD3CZ7JMPVDV9YCC4FVREX
  </code>
</section>

<style>
  section.lightning {
    display: block;
    margin-top: 5rem;
    border-top: 1px solid rgb(var(--accent));
  }

  img {
    max-width: 300px;
    border-radius: 0.5rem;
    display: block;
    margin: 2rem auto;
    border: 1px solid rgba(var(--accent), 25%);
  }

  code {
    font-size: 0.75em;
    display: block;
    text-align: center;
  }
</style>
