---
import { CopyWrapper } from './CopyWrapper.tsx'
import { AstroQRCode } from './AstroQRCode.tsx';
export interface Props {
	lnUrl: string;
}

const { lnUrl } = Astro.props
---

<section class="donation">
  <p>
    This service is free, but operating it costs a bit of money and time.
    <br />
    If you like it, please consider a small lightning ⚡ donation to keep it alive.
  </p>

  <AstroQRCode lnUrl={lnUrl} client:only />

  <div class="or">or</div>

  <CopyWrapper
    text={lnUrl}
    client:only
  >
    <div class="box copy-box">
      <code>
        {lnUrl}
      </code>
      <button><img src="images/copy-icon.svg" /></button>
    </div>
  </CopyWrapper>
</section>

<style>
  .donation {
    border-top: 1px solid rgb(var(--accent));
    display: block;
    margin-top: 2rem;
    padding-top: 1rem;
    text-align: center;
  }

  .or {
    margin: 1rem 0;
  }

  code {
    display: block;
    font-size: 0.75em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
