---
// import QRCode from "react-qr-code";
import { CopyWrapper } from './CopyWrapper.tsx'
import { AstroQRCode } from './AstroQRCode.tsx';
export interface Props {
	lnUrl: string;
  costsMonthly: string;
}

const { lnUrl, costsMonthly } = Astro.props
---

<section class="donation">
  <p>
    This service is free, but it takes some time and costs {costsMonthly}/month to operate.
  </p>
  <p>
    If you like this service, please consider a small lightning ⚡ donation to keep it up:
  </p>

  <AstroQRCode lnUrl={lnUrl} client:only />

  <div class="or">or</div>

  <CopyWrapper
    text={lnUrl}
    client:visible
  >
    <div class="box copy-box">
      <code>
        {lnUrl}
      </code>
      <button><img src="images/copy-icon.svg" /></button>
    </div>
  </CopyWrapper>
</section>

<style>
  .donation {
    display: block;
    margin-top: 3rem;
    border-top: 1px solid rgb(var(--accent));
  }

  .or {
    margin: 1rem 0;
    text-align: center;
  }

  code {
    font-size: 0.75em;
    display: block;
    text-align: center;
  }
</style>
