<section class="lightning">
  <p>
    This service is free, but it costs USD $4/month for the domain
    and (unless it can be automated) manually adding users takes time. <br />
    If you like this service, please consider a small lightning donation to keep it up:
  </p>

  <img src="images/ln-donation-qr.png" alt="lightning donation code" />
</section>

<style>
  section.lightning {
    display: block;
    margin-top: 3rem;
  }

  img {
    max-width: 300px;
    border-radius: 0.5rem;
    display: block;
    margin: 2rem auto;
    border: 1px solid rgba(var(--accent), 25%);
  }
</style>
