<footer>
  to run this on your domain visit the <a href="https://github.com/jigglycrumb/nostr-handle-provider" target="_blank">Github repository</a>
</footer>

<style>
  footer {
    border-top: 1px solid rgb(var(--accent));
    font-size: 70%;
    margin-top: 2rem;
    padding: 0.5rem 0 3rem 0;
    text-align: right;
  }
</style>
