<section>
  <span>*</span>
  <sub>
    Hint: If your public key starts with "npub", you'll have to convert it to hex first.<br />
    Head over to the <a href="https://damus.io/key" target="_new">damus key converter</a> to do so.
  </sub>
</section>

<style>
  section {
    display: grid;
    grid-template-columns: 1ch max-content;
    grid-column-gap: 0.5ch;
  }
</style>
